@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');

.brand-logo {
	justify-content: center;
}

.brand-title {
	justify-content: center;
}

.app-container {
	background-color: darksalmon;
	display: flex;
	flex-direction: row;
}

body {
	font-family: 'Rubik', sans-serif;
}

.sidebar {
	width: 200px;
	background-color: rgb(229, 181, 22);
	color: aquamarine;
	padding-top: 200px;
	padding-left: 20px;
}

.header {
	height: 60;
	background-color: rgb(196, 169, 220);
	color: antiquewhite;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.footer {
	height: 60px;
	background-color: aqua;
	color: antiquewhite;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.sign-in-text {
}
